n8n/89el4jc8Qd4CwFyL-EXAM_sub_set_tags.json
{
  "name": "EXAM_sub_set_tags",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "number"
            },
            {
              "name": "title"
            },
            {
              "name": "summary"
            },
            {
              "name": "url"
            }
          ]
        }
      },
      "id": "37a46209-eca8-40f4-8e88-00e7ce46cf2a",
      "typeVersion": 1.1,
      "name": "sub_flow_set_tags",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "16a55363-2ad5-4f0d-a506-5bc5979a0895",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KFQuSrSfUmlSJ8u3",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "#Role\nYou are a News Categorizer which takes as input predefined tags and you verify the news and add matching tags to it. As output i want to see the tags_t.id\nwhich match. (1 to many)\n\n#Steps\n1. First get all tags\n2. Find matching tags and check against title and summary from input\n3. produce json output\n\n#Tools\n**get_tags** will provide you the existing tags. Verify which tags match title and summary.\n\n#Output\nProvide the tag id, name and category and rational why you select it.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "697d499d-4bb3-4456-bd18-fd5e9e6f64e1",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n    {\"id\":5,\"tag\":\"AI Agents\",\"category\":\"agents\",\"rational\":\"I found AI Agent specific info\"},\n    {\"id\":6,\"tag\":\"AI Agents\",\"category\":\"agents\",\"rational\":\"I found AI Agent specific info\"}\n  ]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        208
      ],
      "id": "6ebbec15-c708-4ad0-a335-42a484a243c9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news_tags_t",
          "mode": "list",
          "cachedResultName": "news_tags_t"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "news_id": "={{ $('sub_flow_set_tags').item.json.id }}",
            "tags_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_id",
              "displayName": "news_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags_id",
              "displayName": "tags_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_ts",
              "displayName": "created_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_ts",
              "displayName": "updated_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        0
      ],
      "id": "50f8e194-1bac-46d6-904a-987f4d588810",
      "name": "db_add_news_tags",
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "53eedaee-50d2-4fa7-9e0c-2593dff7cf0c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mZ2ZpXpWkcJrpsKS",
          "mode": "list",
          "cachedResultUrl": "/workflow/mZ2ZpXpWkcJrpsKS",
          "cachedResultName": "EXAM_sub_error_logger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "errorDetails": "={{ JSON.stringify($json) }}",
            "json": "={{$json}}",
            "errorMessage": "=Error: {{ $json.error }} on Agent",
            "executionId": "={{$execution.id}}",
            "nodeName": "=",
            "nodeType": "=",
            "workflowId": "={{$workflow.id}}",
            "workflowName": "={{$workflow.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "externalRefId",
              "displayName": "externalRefId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "externalRefType",
              "displayName": "externalRefType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMessage",
              "displayName": "errorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorDetails",
              "displayName": "errorDetails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "errorStack",
              "displayName": "errorStack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nodeName",
              "displayName": "nodeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nodeType",
              "displayName": "nodeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "json",
              "displayName": "json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "parentExecutionId",
              "displayName": "parentExecutionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "id": "463015ac-f5d6-4755-99c9-5f58c1814993",
      "name": "call_sub_flow_error_handler"
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        400
      ],
      "id": "b353d8ea-f36e-4af7-ad93-a902558e25ea",
      "name": "get_news_article_fail",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Call this tool to fetch the news from an url you should provide the url inside query (input for tool)",
        "jsCode": "const url = query; // <-- input \n\ntry {\n  const response = await this.helpers.request({\n    method: 'GET',\n    url,\n    resolveWithFullResponse: true,\n    simple: false, // ✅ prevents throwing on 4xx/5xx\n    timeout: 5000\n  });\n\n  return response;\n  \n} catch (error) {\n  return 'URL not reachable' + error + ' analyze just summary';\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "3c49fd9d-b654-43bf-af6e-a2cf4f91c877",
      "name": "get_news_article",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags_t",
          "mode": "list",
          "cachedResultName": "tags_t"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        528,
        208
      ],
      "id": "13af3e74-cc14-446c-92a3-017c22e0ef26",
      "name": "db_get_tags",
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      }
    }
  ],
  "connections": {
    "sub_flow_set_tags": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "call_sub_flow_error_handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "db_add_news_tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_news_article_fail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_news_article": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "db_get_tags": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "9vKV1a39erm7VNRn",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}