n8n/fYjmBAn9hIAxAra3-EXAM_schedule_init_tags.json
{
  "name": "EXAM_schedule_init_tags",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "8a9acb57-c6b1-4870-b6c0-4c09b807c445",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bqexMIDprRspnQ61",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n{\"category\":\"Core AI Tags\",\n  \"tag\":\"LLM\"},\n  {\"category\":\"Core AI Tags\",\n  \"tag\":\"RAG\"}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        384
      ],
      "id": "c603151c-aea5-43f1-87e5-71894dbf77b5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        176
      ],
      "id": "569e1b25-b430-4963-be9c-3966dc33cdad",
      "name": "schedule_tag_fetch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are responsible to collect the reasonable AI related tags for provide categories defined below:\n\nUse this as base and complete where and extend where needed.\nUnder category: model provide all top models available today.\nYou MUST stick to these categories ONLY as listed below as headers.\nA tag is ONLY  allowed once and in a single category. Must be UNIQUE\n\ncore\n    - Artificial Intelligence\n    - Machine Learning\n    - Deep Learning\n    - Generative AI\n    - LLM\n    - Multimodal AI\n    - AGI\n\nmodels:\n    - Foundation Models\n    - Transformers\n    - Diffusion Models\n    - Fine-tuning\n    - Embeddings\n    - Inference\n    - Quantization\n\ncontext_layer:\n    - RAG\n    - Vector Databases\n    - Context Injection\n    - Retrieval Systems\n\nintegration_layer:\n    - MCP\n    - Model Context Protocol\n    - Plugins\n    - API Integrations\n    - Data Connectors\n    - Function Calling\n\ntools_layer:\n    - Tool Use\n    - Tool Execution\n    - Browser Automation\n    - Computer Use\n    - Code Execution\n    - APIs as Tools\n\nskills_layer:\n    - Skills\n    - Agent Skills\n    - Skill Libraries\n    - Actions\n    - Capabilities\n    - Task Modules\n    - Reusable Workflows\n\nagents:\n    - AI Agents\n    - Agent Orchestration\n    - Multi-Agent Systems\n    - Agent Planning\n    - Agent Execution\n    - Agent Memory\n    - Autonomous Agents\n\nworkflows:\n    - Agent Workflows\n    - Automation\n    - Digital Workers\n    - Human-in-the-loop\n    - Task Automation\n    - Process Automation\n\ncapabilities:\n    - Text Generation\n    - Code Generation\n    - Image Generation\n    - Video Generation\n    - Speech (TTS/ASR)\n    - Reasoning\n    - Planning\n    - Search\n    - Summarization\ninfrastructure:\n    - GPUs\n    - TPUs\n    - AI Chips\n    - Data Centers\n    - Cloud AI\n    - Edge AI\n    - Distributed Training\n    - Compute Scaling\n\ndev_ops:\n    - MLOps\n    - LLMOps\n    - Deployment\n    - Model Serving\n    - Observability\n    - Evaluation / Evals\n\nsafety:\n    - AI Safety\n    - Alignment\n    - AI Ethics\n    - Fairness\n    - Bias\n    - Privacy\n    - Security\n    - Governance\n\nbusiness:\n    - AI Startups\n    - Funding\n    - Investments\n    - Enterprise AI\n    - AI Strategy\n    - Market Trends\n\nproduct:\n    - Model Release\n    - Product Launch\n    - Feature Update\n    - API Update\n    - Beta Release\n\necosystem:\n    - OpenAI\n    - Anthropic\n    - Google DeepMind\n    - Meta AI\n    - Microsoft AI\n    - AWS AI\n    - Hugging Face\n    - Mistral\n    - NVIDIA AI\ncontent_type:\n    - News\n    - Research\n    - Tutorial\n    - Analysis\n    - Opinion\n    - Benchmark\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        176
      ],
      "id": "1b3bec66-3ce9-460e-8c71-b4a7978fd867",
      "name": "agent_fetch_category_tags"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "870858fa-12bb-4ff0-bcd6-8bc2d396c2cd",
      "name": "split_array_in_items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "835d17b8-739f-426a-a7df-24c9e8dc7f0d",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        192
      ],
      "id": "0e7880a9-d306-4a10-9029-bf89ecff815e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags_t",
          "mode": "list",
          "cachedResultName": "tags_t"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "332e6e59-b8b4-4ebd-bfc5-77da31c74581",
      "name": "db_delete_all_tags",
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags_t",
          "mode": "list",
          "cachedResultName": "tags_t"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "tag",
              "value": "={{ $json.output.tag }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        192
      ],
      "id": "828d4302-5367-41b8-bf23-7dc5cfbc8c85",
      "name": "db_check_tag_exists",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tags_t",
          "mode": "list",
          "cachedResultName": "tags_t"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "category": "={{ $json.output.category }}",
            "tag": "={{ $json.output.tag }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tag",
              "displayName": "tag",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_ts",
              "displayName": "created_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_ts",
              "displayName": "updated_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        352
      ],
      "id": "59e51e05-3e5a-4e83-93e6-a850d9be458b",
      "name": "db_insert_tag",
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "agent_fetch_category_tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "agent_fetch_category_tags",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "schedule_tag_fetch": {
      "main": [
        [
          {
            "node": "agent_fetch_category_tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent_fetch_category_tags": {
      "main": [
        [
          {
            "node": "split_array_in_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_array_in_items": {
      "main": [
        [
          {
            "node": "db_insert_tag",
            "type": "main",
            "index": 0
          },
          {
            "node": "db_check_tag_exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "db_insert_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "db_check_tag_exists": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "9vKV1a39erm7VNRn",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}