n8n/JEbisWFlcn6mDvxe-EXAM_sub_scrape_news.json
{
  "name": "EXAM_sub_scrape_news",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.feedUrl }}",
        "options": {
          "customFields": "="
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        816,
        384
      ],
      "id": "fecf5cae-4043-4187-82e9-4bff8f6bdaa7",
      "name": "rss_read",
      "notesInFlow": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\n\nconst input =\n  ($json.guid || '') + '|' + ($json.title || '');\n\n$json.newsId = crypto\n  .createHash('sha256')\n  .update(input)\n  .digest('hex');\n\nreturn $input.item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        368
      ],
      "id": "e64ef931-db5c-4b48-8437-9d0861d658c5",
      "name": "add_hash_newsid"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rssFeeds",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        384
      ],
      "id": "379ffb5c-f746-401b-8e6c-7f5a73e70fa2",
      "name": "splitout_rss_array"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news_t",
          "mode": "list",
          "cachedResultName": "news_t"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "favorite": false,
            "news_id": "={{ $json.newsId }}",
            "title": "={{ $json.title }}",
            "summary": "={{ $json.content ?? 'N/A' }}",
            "published_ts": "={{ $json.isoDate }}",
            "origin": "={{ $('loop_over_rss').item.json.feedUrl }}",
            "source_id": "={{ $('trigger_sub_flow').item.json.id }}",
            "url": "={{ $json.link }}"
          },
          "matchingColumns": [
            "news_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_id",
              "displayName": "news_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "origin",
              "displayName": "origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "published_ts",
              "displayName": "published_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "favorite",
              "displayName": "favorite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "rag_status",
              "displayName": "rag_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "rag_proc_guid",
              "displayName": "rag_proc_guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "rag_error",
              "displayName": "rag_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "categorization_status",
              "displayName": "categorization_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "categorization_proc_guid",
              "displayName": "categorization_proc_guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "categorization_error",
              "displayName": "categorization_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_ts",
              "displayName": "created_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_ts",
              "displayName": "updated_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        368
      ],
      "id": "dd5669f8-4b2a-4b81-849d-7085aaa640b7",
      "name": "insert_news",
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{$items().length}}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        384
      ],
      "id": "4cb74da4-055d-4b43-afd6-97eaa39d2e99",
      "name": "loop_over_rss"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"parentExecutionId\":\"1243\",\n  \"id\": 1,\n  \"name\": \"AI Demo\",\n  \"urls\": [\n    {\n      \"url\": \"https://ai.meta.com/blog/\",\n      \"description\": \"Meta AI Blog\"\n    }\n  ],\n  \"rssFeeds\": [\n    {\n      \"feedUrl\": \"https://openai.com/news/rss.xml\",\n      \"description\": \"OpenAI News RSS\"\n    },\n    {\n      \"feedUrl\": \"https://huggingface.co/blog/feed.xml\",\n      \"description\": \"Hugging Face Blog RSS\"\n    },\n    {\n      \"feedUrl\": \"https://github.com/axomoxoa71/news-scrapper/blob/main/news/ai-news.opml\",\n      \"description\": \"AI News OPML\"\n    }\n  ],\n  \"description\": \"A source for AI news demonstration.\"\n}"
      },
      "id": "7b0abc31-696c-4553-afdc-ffb6d50b84ff",
      "typeVersion": 1.1,
      "name": "trigger_sub_flow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        48,
        384
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mZ2ZpXpWkcJrpsKS",
          "mode": "list",
          "cachedResultUrl": "/workflow/mZ2ZpXpWkcJrpsKS",
          "cachedResultName": "EXAM_sub_error_logger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "errorDetails": "={{ JSON.stringify($json) }}",
            "json": "={{$json}}",
            "errorMessage": "=Error: {{ $json.error }} on fetching RSS Feeds ",
            "executionId": "={{$execution.id}}",
            "nodeName": "=",
            "nodeType": "=",
            "workflowId": "={{$workflow.id}}",
            "workflowName": "={{$workflow.name}}",
            "parentExecutionId": "={{ $('trigger_sub_flow').item.json.parentExecutionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "externalRefId",
              "displayName": "externalRefId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "externalRefType",
              "displayName": "externalRefType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMessage",
              "displayName": "errorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorDetails",
              "displayName": "errorDetails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "errorStack",
              "displayName": "errorStack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nodeName",
              "displayName": "nodeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nodeType",
              "displayName": "nodeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "json",
              "displayName": "json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "parentExecutionId",
              "displayName": "parentExecutionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        688
      ],
      "id": "199f8456-5de9-43cf-b348-12a6232d8bc4",
      "name": "call_sub_flow_error_handler"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\n// ✅ Timestamp\nitem.lastScrapeTs = new Date().toISOString();\n\n// ✅ Normalize GitHub URLs\nfunction normalizeUrl(url) {\n    if (url.includes('github.com') && url.includes('/blob/')) {\n        return url\n            .replace('github.com', 'raw.githubusercontent.com')\n            .replace('/blob/', '/');\n    }\n    return url;\n}\n\n// ✅ Extract feeds (lightweight, no extra passes)\nfunction extractFeedsFromOpml(xml) {\n    const results = [];\n    const regex = /<outline[^>]*xmlUrl=\"([^\"]+)\"[^>]*>/g;\n\n    let match;\n    while ((match = regex.exec(xml)) !== null) {\n        const tag = match[0];\n\n        const textMatch = tag.match(/text=\"([^\"]+)\"/);\n        const titleMatch = tag.match(/title=\"([^\"]+)\"/);\n\n        results.push({\n            feedUrl: match[1],\n            description:\n                (textMatch && textMatch[1]) ||\n                (titleMatch && titleMatch[1]) ||\n                \"Imported from OPML\",\n        });\n    }\n\n    return results;\n}\n\n// ✅ Single-pass deduplication\nconst seen = new Set();\nconst resultFeeds = [];\n\nfor (const feed of item.rssFeeds || []) {\n\n    if (!feed.feedUrl) continue;\n\n    // ✅ OPML handling\n    if (feed.feedUrl.endsWith('.opml')) {\n        const url = normalizeUrl(feed.feedUrl);\n\n        try {\n            const response = await this.helpers.request({\n                method: 'GET',\n                uri: url,\n                resolveWithFullResponse: true,\n                simple: false,\n                timeout: 15000, // ✅ avoid hanging\n            });\n\n            if (response.statusCode < 200 || response.statusCode >= 300) {\n                throw new Error(`HTTP ${response.statusCode}`);\n            }\n\n            const xml = response.body;\n\n            // ✅ Process immediately (no temp array)\n            const extractedFeeds = extractFeedsFromOpml(xml);\n\n            for (const extracted of extractedFeeds) {\n                if (!seen.has(extracted.feedUrl)) {\n                    seen.add(extracted.feedUrl);\n                    resultFeeds.push(extracted);\n                }\n            }\n\n        } catch (err) {\n            // ✅ Keep error visible but deduplicated\n            if (!seen.has(feed.feedUrl)) {\n                seen.add(feed.feedUrl);\n                resultFeeds.push({\n                    feedUrl: feed.feedUrl,\n                    description: `URL not reachable: ${err.message}`,\n                });\n            }\n        }\n\n    } else {\n        // ✅ Normal RSS feed\n        if (!seen.has(feed.feedUrl)) {\n            seen.add(feed.feedUrl);\n            resultFeeds.push(feed);\n        }\n    }\n}\n\n// ✅ Replace original\nitem.rssFeeds = resultFeeds;\n\nreturn [{ json: item }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        384
      ],
      "id": "8ce02de5-3bd5-4ec4-9ef3-669358877d9b",
      "name": "code_convert_opml"
    }
  ],
  "connections": {
    "rss_read": {
      "main": [
        [
          {
            "node": "add_hash_newsid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "call_sub_flow_error_handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_hash_newsid": {
      "main": [
        [
          {
            "node": "insert_news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitout_rss_array": {
      "main": [
        [
          {
            "node": "loop_over_rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_news": {
      "main": [
        [
          {
            "node": "loop_over_rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop_over_rss": {
      "main": [
        [],
        [
          {
            "node": "rss_read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger_sub_flow": {
      "main": [
        [
          {
            "node": "code_convert_opml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_convert_opml": {
      "main": [
        [
          {
            "node": "splitout_rss_array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "9vKV1a39erm7VNRn",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}