n8n/SakuwaMRQ7M4Eq3q-DEMO_quickchart.json
{
  "name": "DEMO_quickchart",
  "nodes": [
    {
      "parameters": {
        "labelsMode": "array",
        "labelsArray": "={{ $json.jsonData.labels }}",
        "data": "1250\n1800\n1550\n2100",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "id": "dd4548b7-cf82-4bdf-814e-5c5ac90c9e4d",
      "name": "QuickChart",
      "type": "n8n-nodes-base.quickChart",
      "position": [
        336,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b3ae0ac-7fa5-406c-8e61-d6a9a6c27f07",
              "name": "jsonData",
              "type": "object",
              "value": "={ \"reportTitle\": \"Quarterly Sales\", \"labels\": [\"Q1\", \"Q2\", \"Q3\", \"Q4\"], \"salesData\": [1250, 1800, 1550, 2100] }"
            }
          ]
        },
        "options": {}
      },
      "id": "3bcb98be-1f42-4dbe-9b89-4c27417fedb1",
      "name": "Edit Fields: Set JSON data to test",
      "type": "n8n-nodes-base.set",
      "position": [
        16,
        576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "name": "=chart.{{ $binary.data.fileExtension }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "b9b43cf2-e557-4e7c-95af-59c44c60bb4e",
      "name": "Google Drive: Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        608,
        576
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Chart Generator\n**Generate Dynamic Line Chart from JSON Data to Upload to Google Drive\n### How to Use & Customize\n\n* **Change Input Data:** Modify the `labels` and `salesData` arrays within the `Edit Fields: Set JSON data to test` node to use your own data. Ensure the number of labels matches the number of data points.\n* **Use Real Data Sources:** Replace the `Edit Fields: Set JSON data to test` node with nodes that fetch data from real sources like:\n    * HTTP Request (APIs)\n    * Postgres / MongoDB nodes (Databases)\n    * Google Sheets node\n    * Ensure the output data from your source node is formatted similarly (providing `labels` and `salesData` arrays). You might need another Set node to structure the data correctly before the QuickChart node.\n* **Change Chart Type:** In the QuickChart node, modify the `Chart Type` parameter (e.g., change from `line` to `bar`, `pie`, `doughnut`, etc.).\n* **Customize Chart Appearance:** Explore the `Chart Options` parameter within the QuickChart node to add titles, change colors, modify axes, etc., using QuickChart's standard JSON configuration options.\n* **Use Datasets (Recommended for Complex Charts):** For multiple lines/bars or more control, configure datasets explicitly in the QuickChart node:\n    * Remove the expression from the top-level `Data` field.\n    * Go to `Dataset Options` -&gt; `Add option` -&gt; `Add dataset`.\n    * Set the `Data` field within the dataset using an expression like `{{ $json.jsonData.salesData }}`.\n    * You can add multiple datasets this way.\n* **Change Output Destination:** Replace the `Google Drive: Upload File` node with other nodes to handle the chart image differently:\n    * `Write Binary File`: Save the chart to the local filesystem where n8n is running.\n    * `Slack` / `Discord` / `Telegram`: Send the chart to messaging platforms.\n    * `Move Binary Data`: Convert the image to Base64 to embed in HTML or return via webhook response.",
        "height": 1060,
        "width": 1460
      },
      "id": "59024308-1b69-405b-9423-f2af4b689cf0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2bcc1511-c97e-41e1-a19c-a8a49d07fde4",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -304,
        576
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "QuickChart": {
      "main": [
        [
          {
            "node": "Google Drive: Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields: Set JSON data to test": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields: Set JSON data to test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}