n8n/ThLgC66d8JZJO6AZ-EXAM_webhook_scrape_news.json
{
  "name": "EXAM_webhook_scrape_news",
  "nodes": [
    {
      "parameters": {
        "content": "## Received News Scrapper Event\n### Web Hook to retrieve Scrap Profile\n\n",
        "height": 336,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "27f8da70-0921-41bc-a2b7-829dea01e459",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wf-context-{{ $json.context.executionId }}",
        "value": "={{ $json.context }}",
        "keyType": "hash",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        448,
        128
      ],
      "id": "2550f2b4-6b7d-447e-b6b3-534d693573cb",
      "name": "redis_set_context",
      "credentials": {
        "redis": {
          "id": "t88BXXoLgRxpuaLK",
          "name": "redis"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-event",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        128
      ],
      "id": "ba8ac915-48a2-4fb1-8aba-951e72be8b16",
      "name": "scrape_webhook",
      "webhookId": "090f7c2d-dabe-4935-8fb9-8a0eea5d340f",
      "credentials": {
        "httpBasicAuth": {
          "id": "LXGEKbvkKL2I9WDf",
          "name": "n8n-webhook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Trace Parser\nfunction parseTraceparent(traceparent) {\n  if (typeof traceparent !== \"string\") {\n    throw new Error(\"traceparent must be a string\");\n  }\n\n  const parts = traceparent.split(\"-\");\n\n  if (parts.length !== 4) {\n    throw new Error(\"Invalid traceparent format\");\n  }\n\n  const [, traceId, spanId] = parts;\n\n  return {\n    traceId,\n    spanId\n  };\n}\n\nconst traceContext = parseTraceparent($input.first().json.headers.traceparent);\nconst executionId = $execution.id;\n\n/*\n// Code node — \"Set Globals\" (runs once at the start)\nconst workflowStaticData = $getWorkflowStaticData('global');\n\n\n// Store context keyed by execution ID\nworkflowStaticData[$execution.id] = {\n  instanceId: instanceId,\n  traceId: traceContext.traceId,\n  spanId: traceContext.spanId,  \n  profileId:$input.first().json.body.scrape.profile.id,\n  profileName:$input.first().json.body.scrape.profile.name,\n  startedAt: new Date().toISOString()\n};\n\n*/\n\nconsole.log(\"ExecutionId:\" +$execution.id);\n\n// Check Context\n/*\nconst workflowStaticDataCheck = $getWorkflowStaticData('global');\n//real copy not by reference so that cleanup works\nconst ctxCheck = { ...workflowStaticDataCheck[$execution.id] };\nconsole.log(\"Trace Id from Context:\" + JSON.stringify(ctxCheck,null,2));\n*/\n\n// Pass through original data unchanged\n//return [{ json: $input.item.json }];\n\n// Enrich Context\nreturn [\n  {\n    json: {\n      ...$input.item.json,\n      context: {\n        executionId: executionId,\n        traceId: traceContext.traceId,\n        spanId: traceContext.spanId,  \n        externalRefId:$input.first().json.body.id,\n        externalRefName: $input.first().json.body.name,\n        externalRefType: \"source\",\n        startedAt: new Date().toISOString()\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        128
      ],
      "id": "e07996ac-4d20-44a5-92eb-a890c0d17b26",
      "name": "js_enrich_context"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn [\n  {\n    json: $json.body\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        128
      ],
      "id": "d6e6fec9-08d9-4f0b-a3fd-0057af64dca5",
      "name": "remove_body_element"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JEbisWFlcn6mDvxe",
          "mode": "list",
          "cachedResultUrl": "/workflow/JEbisWFlcn6mDvxe",
          "cachedResultName": "EXAM_sub_scrape_news"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "rssFeeds": "={{ $json.rssFeeds }}",
            "urls": "={{ $json.urls }}",
            "parentExecutionId": "={{$execution.id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parentExecutionId",
              "displayName": "parentExecutionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urls",
              "displayName": "urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "rssFeeds",
              "displayName": "rssFeeds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        128
      ],
      "id": "6a8aadb0-ccfe-4d9c-bda1-d44862949007",
      "name": "call_sub_flow_scrap_to_db"
    }
  ],
  "connections": {
    "redis_set_context": {
      "main": [
        [
          {
            "node": "remove_body_element",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_webhook": {
      "main": [
        [
          {
            "node": "js_enrich_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js_enrich_context": {
      "main": [
        [
          {
            "node": "redis_set_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove_body_element": {
      "main": [
        [
          {
            "node": "call_sub_flow_scrap_to_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "9vKV1a39erm7VNRn",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}