n8n/tSA7PDFcRMLISMTC-EXAM_set_sentiment.json
{
  "name": "EXAM_set_sentiment",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        288
      ],
      "id": "3c6894c8-d668-41b5-97d7-1c8cff38af5a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bqexMIDprRspnQ61",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news_t",
          "mode": "list",
          "cachedResultName": "news_t"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "categorization_status": "ERROR",
            "categorization_error": "Missing title or summary",
            "sentiment": "={{ $json.sentimentAnalysis.category }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "news_id",
              "displayName": "news_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origin",
              "displayName": "origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published_ts",
              "displayName": "published_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "favorite",
              "displayName": "favorite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rag_status",
              "displayName": "rag_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categorization_status",
              "displayName": "categorization_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categorization_error",
              "displayName": "categorization_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rag_error",
              "displayName": "rag_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_ts",
              "displayName": "created_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_ts",
              "displayName": "updated_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        16
      ],
      "id": "65c0611f-59c4-4184-8231-2ec47c4c0904",
      "name": "update_sentiment",
      "credentials": {
        "postgres": {
          "id": "cZ5PFH6C5ypc8712",
          "name": "supabase-postgres"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Title: {{ $json.title }}\nSummary: {{ $json.summary }}",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a486135d-1de6-4a06-a2d0-bcd8e3445b3d",
      "name": "sentiment_analysis",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "number"
            },
            {
              "name": "title"
            },
            {
              "name": "summary"
            }
          ]
        }
      },
      "id": "fa6081d1-3fcb-4287-8571-3309c05a779b",
      "typeVersion": 1.1,
      "name": "sub_flow_set_sentiment",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -208,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mZ2ZpXpWkcJrpsKS",
          "mode": "list",
          "cachedResultUrl": "/workflow/mZ2ZpXpWkcJrpsKS",
          "cachedResultName": "EXAM_sub_error_logger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "errorDetails": "={{ JSON.stringify($json) }}",
            "json": "={{$json}}",
            "errorMessage": "=Error: {{ $json.error }} on Agent",
            "executionId": "={{$execution.id}}",
            "nodeName": "=",
            "nodeType": "=",
            "workflowId": "={{$workflow.id}}",
            "workflowName": "={{$workflow.name}}",
            "parentExecutionId": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "externalRefId",
              "displayName": "externalRefId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "externalRefType",
              "displayName": "externalRefType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMessage",
              "displayName": "errorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorDetails",
              "displayName": "errorDetails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "errorStack",
              "displayName": "errorStack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nodeName",
              "displayName": "nodeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nodeType",
              "displayName": "nodeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "json",
              "displayName": "json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "parentExecutionId",
              "displayName": "parentExecutionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        240
      ],
      "id": "115b1263-125f-4633-9cb2-e3910a4b8202",
      "name": "call_sub_flow_error_handler"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "sentiment_analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "sentiment_analysis": {
      "main": [
        [
          {
            "node": "update_sentiment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_sentiment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_sentiment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "call_sub_flow_error_handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sub_flow_set_sentiment": {
      "main": [
        [
          {
            "node": "sentiment_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}